# Sudo
alias sudo='sudo '

# Changing "ls" to "exa"
if [ `command -v exa` ]; then
    alias ls='exa -al --color=always --group-directories-first' # my preferred listing
    alias la='exa -a --color=always --group-directories-first'  # all files and dirs
    alias ll='exa -l --color=always --group-directories-first'  # long format
    alias lt='exa -aT --color=always --group-directories-first' # tree listing
else
    alias ls='ls -lah --color=auto --group-directories-first'
fi

# Basic commands
alias cp="cp -i"                          # confirm before overwriting something
alias df='df -h'                          # human-readable sizes
alias free='free -m'                      # show sizes in MB
alias grep='grep --color=auto'
alias ccat='highlight --force --out-format=ansi'
alias dd='dd status=progress'
alias vecka='date +%V'

# the terminal rickroll
alias rr='curl -s -L https://raw.githubusercontent.com/keroserene/rickrollrc/master/roll.sh | bash'

# termbin
alias tb="nc termbin.com 9999"

# Win Apps
alias chrome='/mnt/c/Program\ Files\ \(x86\)/Google/Chrome/Application/chrome.exe'
alias spotify='/mnt/c/Users/tobias.svedberg/AppData/Roaming/Spotify/Spotify.exe'
alias code='/mnt/c/Users/tobias.svedberg/AppData/Local/Programs/Microsoft\ VS\ Code/Code.exe'

