# Sudo tab completion
#if ! shopt -oq posix; then
#  if [ -f /usr/share/bash-completion/bash_completion ]; then
#      . /usr/share/bash-completion/bash_completion
#    elif [ -f /etc/bash_completion ]; then
#      . /etc/bash_completion
#  fi
#fi

# cheat.sh bash_completion

# Weather
function weather() {
  GPS="58.603538,16.160541"
  DAYS=${1:-0}
  #DAYS=$1
  URL="wttr.in/$GPS?$DAYS?M"
  curl -s $URL\
    |sed 's/\xE2\x86\x91/S/g'\
    |sed 's/\xE2\x86\x92/W/g'\
    |sed 's/\xE2\x86\x93/N/g'\
    |sed 's/\xE2\x86\x90/E/g'\
    |sed 's/\xE2\x86\x96/SE/g'\
    |sed 's/\xE2\x86\x97/SW/g'\
    |sed 's/\xE2\x86\x98/NW/g'\
    |sed 's/\xE2\x86\x99/NE/g'
}

# Transfer.sh
function transfer() {
   if [ $# -eq 0 ]; then
     echo -e "No arguments specified. Usage:\necho transfer /tmp/test.md\ncat /tmp/test.md | transfer test.md"; return 1
   fi
   tmpfile=$( mktemp -t transferXXX )
   if tty -s; then
     basefile=$(basename "$1" | sed -e 's/[^a-zA-Z0-9._-]/-/g')
     curl --progress-bar --upload-file "$1" "https://transfer.sh/$basefile" >> $tmpfile
   else curl --progress-bar --upload-file "-" "https://transfer.sh/$1" >> $tmpfile
   fi
   cat $tmpfile
   rm -f $tmpfile;
}

# Portscan
function portscan() {
 timeout 1 bash -c "</dev/tcp/$1/$2" && echo open || echo closed
}

# Create uuid
function uuid(){
cat /proc/sys/kernel/random/uuid
}

export -f weather
export -f transfer
export -f portscan
export -f uuid
